<div class="card">
	<div class="card-header">
		<a class="btn btn-success" routerLink="/cadastra/">Cadastrar</a>
	</div>
	<div class="card-body">
		<h1>Lista Cadastro</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Código</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Coruja</th>
          <th>Bios</th>
          <th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let empleado of Empleados; let iControl=index">
					<td> {{empleado.id}} </td>
					<td> {{empleado.nome}} </td>
					<td> {{empleado.email}}</td>
          <td> {{empleado.coruja}}</td>
          <td> {{empleado.bios}}</td>
					<td>
						<a class="btn btn-info" routerLink="/edita/{{empleado.id}}">Editar</a> |
						<a class="btn btn-danger" (click)="borrarRegistro(empleado.id, iControl)" role="button"> Deletar </a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


